/*home page styles*/

.masthead {
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}


.secondary.inverted.pointing.menu {
  border: none;
}


/*End of Homepage styles*/

.menu.fluid.vertical.tabular {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
);
  position: absolute;
 margin-left: 0%;
 margin-top: 9%;
 height: 90vh; 
 padding-top: 2rem;
}

.menu.fluid.vertical.tabular .item {
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 1.3rem;
  transition: transform .5s;
}



.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
);
}

.ui.menu .item.header h1 {
  color: white;
  font-family: 'Signika', sans-serif;
}

 .ui.segment.pin, 
 .ui.segment.sendPayment {
   margin-left: 27vw;
   margin-top: 10vh
 }